[Unit]
Description=Chronify Server
After=multi-user.target

[Service]
ExecStart=/home/jrmay/World-Builder/StartChronify.sh
ExecReload=/home/jrmay/World-Builder/StartChronify.sh
Type=simple
Restart=always

[Install]
WantedBy=default.target

